/* 457b9d
f1faee */

* {
  box-sizing: border-box;
}
.App {
   max-width: 600px;
   margin: 0 auto;
}
/* p {
   text-align: center;
   font-weight: 500;
} */
input[type=text],  textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #B9c0b0;
   border-radius: 0px;
   box-sizing:border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}
input[type=submit] {
   background-color: #4CAF50;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

select{
width:49%;
padding: 10px;
border: 1px solid #B9c0b0;
border-radius: 0px;
box-sizing:border-box;
margin: 2px;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
/* .select option{

} */
.container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
}
.postJob button{
background-color: #519e8a;
color: #fff;
width:fit-content ;
margin-top: 1em;
font-size: 1em;
padding: 8px 5px;
font-weight: lighter;
letter-spacing: 1px;
margin-bottom: 0.25em;
margin:2px;
border-color: #519e8a; 
}
.postJob small{
color: #999999;
font-weight: lighter;
}

.postJobandAddANotherJob button{
background-color:  #fff;
color : #519e8a;
width:fit-content;
margin-top: 1em;
margin-bottom: 0.25em;
padding: 8px 0px;
letter-spacing: 1px;
font-size: 1em;
font-weight: lighter;
}
.postJobandAddANotherJob button:hover{ 
color: #fff;
background-color: #519e8a;
border: 1px #fff;
}
.postJobandAddANotherJob small{
color: #999999;
font-weight: lighter;
} 

#root{
    margin: 0 auto;
  width: 1024px;
}
.category-box {
width: 50%;
float: left;
}
.category-box select {
width: 98%;
}


/*  Tags related css */

* {
font-family: sans-serif;
font-size: 17px;
}

body {
background: #f2f2f2;
padding: 20px;
}

.input-tag {
background: white;
border: 1px solid #d6d6d6;
border-radius: 2px;
display: flex;
flex-wrap: wrap;
padding: 5px 5px 0;
}

.input-tag input {
border: none;
width: 100%;
}

.input-tag__tags {
display: inline-flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
width: 100%;
}

.input-tag__tags li {
align-items: center;
background: #85A3BF;
border-radius: 2px;
color: white;
display: flex;
font-weight: 300;
list-style: none;
margin-bottom: 5px;
margin-right: 5px;
padding: 5px 10px;
}

.input-tag__tags li button {
align-items: center;
appearance: none;
background: #333333;
border: none;
border-radius: 50%;
color: white;
cursor: pointer;
display: inline-flex;
font-size: 12px;
height: 15px;
justify-content: center;
line-height: 0;
margin-left: 8px;
padding: 0;
transform: rotate(45deg);
width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
background: none;
flex-grow: 1;
padding: 0;
height: 50px;
}